CompileFlags:
  Add:
    - "--target=riscv32-unknown-elf"
    - "-march=rv32imac"
    - "-mabi=ilp32"
    - "-mcpu=generic-rv32"
    - "-Wno-unknown-cpu"
    - "-Wno-unused-command-line-argument"

    - "-IE:/Projects/ms1/toolchain/gcc/lib/gcc/riscv64-unknown-elf/14.2.1/include"
    - "-IE:/Projects/ms1/toolchain/gcc/lib/gcc/riscv64-unknown-elf/14.2.1/include-fixed"
    - "-IE:/Projects/ms1/toolchain/gcc/riscv64-unknown-elf/include"
    - "-IE:/Projects/ms1/toolchain/gcc/riscv64-unknown-elf/include/newlib-nano"
    - "-IE:/Projects/ms1/toolchain/gcc/riscv64-unknown-elf/include/c++/14.2.1"
    - "-IE:/Projects/ms1/toolchain/gcc/riscv64-unknown-elf/include/c++/14.2.1/backward"
    - "-IE:/Projects/ms1/toolchain/gcc/riscv64-unknown-elf/include/c++/14.2.1/riscv64-unknown-elf/rv32imac_zaamo_zalrsc/ilp32"
    - "-IE:/Projects/ms1/application"
    - "-IE:/Projects/ms1/nmsis/core/include"
    - "-IE:/Projects/ms1/soc/ms1/include"
    - "-IE:/Projects/ms1/kernel/freertos/include"
    - "-IE:/Projects/ms1/kernel/freertos/portable"
    
  Remove:
    - "-mtune=nuclei-200-series"
    - "--specs=nano.specs"

Index:
  Background: Skip
